{% extends 'base.html.twig' %}

{% block title %}Edit Chantier{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Edit Chantier</h1>

    <img src="{{ vich_uploader_asset(chantier, 'imageFile') }}" class="img-fluid" />

    {{ include('admin/chantier/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="row">
    {% for carousel in chantier.carousel %}
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <img src="{{ vich_uploader_asset(carousel, 'imageFile') }}" class="img-fluid" />
                </div>
                <div class="card-footer text-muted">
                    <a href="{{ path('admin_chantier_carousel_remove', { id: carousel.id}) }}">Supprimer</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<hr />

    <a href="{{ path('admin_chantier_index') }}">back to list</a>

    {{ include('admin/chantier/_delete_form.html.twig') }}
</div>
{% endblock %}
